* {
    box-sizing: border-box;

}

html body{
    margin: 0;
}
.h2{
    margin: 0;
}
.navbar{
    display: flex;
    height: 60px;
    padding: 0 50px;
    background-color: #f8f8f8;
    justify-content: space-between;
}
.logo-container{
    align-items: center;
}
.link-container{
    display: flex;
    align-items: stretch;
}
.link-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 10px;
}
.link-container a:hover{
    background-color: #d8d8d8;
}