.nav-bar{
    /* float: right; */
    right: 50px;
    position: fixed;
    border: 1px solid pink;
    margin: 10px auto;
    display: block;
}
.nav-bar h3{
    margin: 0;
}
.box1, .box2, .box3 {
    position: relative;
    /* position: static; default of all element */
    width: 200px;
    height: 200px;
    border: 5px solid red;
}
.box2 {
    border: 5px solid green;
}
.box3 {
    border: 5px solid blue;
    margin-top: 10px;
    margin-right: 12px;
}
.box2 .inner{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    border: 2px solid green;
}