body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top-bar{
    width: 100%;
    height: 6px;
    background-color: #64d5ca;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.container{
    max-width: 1270px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    padding: 24px 48px;
    border: 1px solid #d8d8d8;
}
.navbar .logo-container{
    display: flex;
    align-items: center;
    color: #38a39d;
}
.navbar .links-container{
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.navbar .links-container a{
    margin-left: 16px;
    text-decoration: none;
    color: #888;
}
.navbar links-container a:hover{
    color: #38a39d;
}
.link-left-container{
    flex-grow: 1;
}

.hero-container{
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #64d5ca;
    color: #fff;
    background-color: #64d5ca;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23a0f0ed' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
.hero-container .hero-text-top{
    font-weight: 300;
}
.hero-container .input-container{
    display: flex;
}
.hero-container .input-container button{
    margin: 0;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #ffed4a;
}
.hero-container .input-container input{
    border: 0;
    padding: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}
.card-header a{
    color: #38a39d;
    margin: 16px;
}
.cards-container{
    display: flex;
}
.card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    flex-basis: 33.33%;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 8px;
}
.card img{
    height: 200px;
    width: 100%;
}
.card .card-content{
    padding: 8px;
}
.card p{
    margin: 0;
}
.card .car-model{
    font-weight: bold;
    color: #38a39d;
    font-size: 18px;
    margin-bottom: 4px;
}
.card .car-make{
    font-weight: 300;
    color: #d8d8d8;
    font-size: 14px;
    margin-bottom: 4px;
}
.card .car-price{
    font-weight: bold;
    color: #38a39d;
    font-size: 16px;
}
.card-h-container{
    flex-wrap: wrap;
}
.card-h{
    display: flex;
    flex-basis: 47%;
    margin-bottom: 16px;
}
.card-h img{
    height: 150px;
    width: 200px;
}
.logos-container{
    display: flex;
    justify-content: space-around;
    margin: 36px 0;
}
.logo{
    height: 110px;
}
footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d8d8d8;
    padding: 16px 0;
}
footer .links-container{
    display: flex;
    align-items: center;
}
footer .links-container a{
    text-decoration: none;
    color: #888;
    margin-right: 8px;
}
footer .links-container p{
    color: #a8a8a8;
    margin-right: 8px;
}
footer .links-container a:hover{
    color: #38a39d;
}