* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.testimonial-section{
    background: #3498db;
    padding: 40px 0;
}
.inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.testimonial-section h1{
    text-align: center;
    color: #333;
    font-size: 24px;
}
.border{
    width: 100px;
    height: 3px;
    background: #333;
    margin: 40px auto;
}
.testimonial{
    overflow: hidden;
    background: #f1f1f1;
    padding: 40px;
    border-radius: 8px;
    cursor: pointer;
}
.test-info{
    display: flex;
    height: 60px;
    align-items: center;
}
.test-pic{
    width: 50px !important; 
    border-radius: 50%;
    margin-right: 15px;
}
.test-name{
    font-size: 12px;
    color: #333;
}
.test-name span{
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #2980b9;
}
.testimonial p{
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
}