body{
    padding: 0;
    margin: 0;
    font-family: "montserrat",sans-serif;
    background: #f1f1f1;
}

.middle{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
}

.task-list{
    width: 400px;
    padding: 40px;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}

.task-list h2{
    color: #fff;
    text-transform: uppercase;
}

.task{
    display: flex;
    padding: 10px 0;
    align-items: center;
    cursor: pointer;
}

.task input{
    position: absolute;
    visibility: hidden;
}

.task i{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 48px;
    font-size: 28px;
    margin-right: 14px;
    color: transparent;
}

.text{
    font-size: 18px;
    color: #fff;
}

.task input:checked ~ i {
    color: #e74e3c;
}

.task input:checked ~ .text {
    color: #e74e3c;
}