* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.services-section{
    background: url(bg.jpg);
    background-size: cover;
    padding: 60px 0; 
}
.inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}
.section-title{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.border{
    background: #82ccdd;
    width: 160px;
    height: 2px;
    margin: 40px auto;
}
.services-container{
     display: flex ;
     flex-wrap: wrap;
     justify-content: center;
}
.service-box{
    max-width: 30%;
    text-align: center;
    color: #ddd;
    padding: 10px;
    cursor: pointer;
}
.service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear; 
}
.service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}
.service-box:hover .service-icon{
    background: #82ccdd;
    color: #ddd;
}
.service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.service-desc{
    font-size: 14px; 
}

@media screen and (max-width:960px){
    .service-box{
        max-width: 45%;
    }
}
@media screen and (max-width:768px){
    .service-box{
        max-width: 50%;
    }
}
@media screen and (max-width:480px){
    .service-box{
        max-width: 100%;
    }
}