body {
    margin: 0;
    padding: 0;
    font-family: 'intro';
    background: #f1f1f1;
}
.post {
    width: 600px;
    height: 400px;
    position: relative;
}
.post img{
    display: block;
    width: 600px;
    height: 400px;
    cursor: pointer;
}
.post:hover .post-s{
    width: 600px;
}
.post-s{
    width: 0px;
    height: 400px;
    background: rgb(103, 58, 183, 0.71);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease; 
}
.post-s h2{
    color: #fff;
    font-size: 50px;
    border: 6px solid #fff;
    padding: 10px 30px;
}