body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    overflow: hidden;
    background: #e67e22;
    padding: 60px 0px;
    text-align:  center;
    color: #ffffff;
    text-transform: uppercase;
}

footer {
    overflow: hidden;
    background: #e67e22;
    padding: 20px 0px;
    text-align:  center;
    color: #ffffff;
    text-transform: uppercase;
}

.gallerys {
  padding: 10px;
  overflow: hidden;
  text-align: center;  
}

.img {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    height: 220px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.img img {
    width: 100%;
    height: 220px;
    transition: 0.4s;
}

.img img:hover{
    transform: scale(1.2);
}

@media (max-width: 400px){
    .img{
        margin: 10px 0;
    }
}