* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height: 100px;
    background: #2d3436;
    padding: 0 20px;
    color: #fff;
}
.footer{
    overflow: hidden;
    background: #2d3436;
    padding: 20px 0px;
    text-align:  center;
    color: #ffffff;
}
.footer .copyright{
    margin-bottom: 10px;
}
.logo{
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.menu{
    float: right;
    line-height: 100px;
}
.menu a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #2980b9; 
}
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
.content{
    padding: 0 20px;
}
.content img{
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}
.content p{
    text-align: justify;
}

@media screen and (max-width: 800px){
    .show-menu-btn,.hide-menu-btn{
        display: block; 
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #333;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .menu{
        right: 0;
    }
}
.wallpaper{
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(img/wall1.jpg) no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size: cover;
}
.wallpaper .centered{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 700px;
    max-width: none;
}
.centered h1{
    font-family: sans-serif;
    color: #f9f3f4;
    font-size: 500%;
    text-shadow: 0 0 300px #000;
    text-align: center;
}
/* content section */
.about-section{
    width: 100%;
    background: #f1f1f1;
    padding: 40px 0;
}
.inner-width{
    max-width: 1200px;
    overflow: hidden;
    padding: 10px 20px;
    margin: auto;
}
.about-section-row{
    flex-wrap: wrap;
    display: flex;
}
.about-section-col{
    flex: 50%;
}
.about-section-col img{
    width: 80%;
    height: 370px;
}
.about{
    padding-right: 30px;
}
.about p{
    text-align: justify;
    font-size: 140%;
    text-indent: 1.5em;
    margin-bottom: 20px;
}
@media screen and (max-width:700px){
    .about-section-col{
        flex: 100%;
        margin: 10px 0;
    }
    .about{
        padding: 0;
        text-align: center;
    }
}