@import ../overview/todo-theme
.space
    flex-basis: 80%
    min-height: 100vh
    display: flex
    flex-direction: column
    background-color: $bg-white
    .space-menu
        background-color: #fff
        flex-basis: 6%
        border-bottom: 1px solid #d8d8d8
        display: none
        align-items: center
        @media screen and (min-width: $break-small) 
            display: flex
        .action-btn
            flex-basis: 80%
            +main-action-btn(".new-action", $green)
        .view-icon
            padding-right: 10px
            flex-basis: 20%
            display: flex
            justify-content: flex-end
            i
                cursor: pointer
                margin-left: 5px
                padding: 5px
                border: 1px solid #d8d8d8
                border-radius: 2px
                color: $black
                transition: 0.3s
            i:hover
                background-color: $black
                color: #fff
    .space-view 
        display: flex
        flex-direction: row
        flex-wrap: wrap
        overflow-y: auto
        .card
            background-color: #fff
            box-shadow: 0 1px 2px #b8b8b8
            width: 90%
            padding: 10px
            min-height: 65vh
            margin: 20px auto
            border: 1px solid #d8d8d8
            border-radius: 2px
            display: flex
            flex-direction: column        
            // position: relative
            form
                display: flex
                flex-direction: column
                width: 70%
                margin: 20px auto
                h4
                    margin: 0
                .datetime-input
                    width: 26%
                input, textarea
                    text-indent: 10px
                    margin-bottom: 20px
            .new-todo-action
                display: flex
                padding-top: 20px
                margin: 10px 10px 10px 0
                justify-content: flex-start
                flex-wrap: wrap
                border-top: 1px solid #d8d8d8
                button
                    +generic-button
                    margin-left: 10px
                +action-button(".submit-action", $blue)
                +action-button(".update-action", $green)
                +action-button(".cancel-action", $red)