@import ../overview/todo-theme
.space
    flex-basis: 80%
    min-height: 100vh
    display: flex
    flex-direction: column
    background-color: $bg-white
    .space-menu
        background-color: #fff
        flex-basis: 6%
        border-bottom: 1px solid #d8d8d8
        display: none
        align-items: center
        @media screen and (min-width: $break-small) 
            display: flex
        .action-btn
            flex-basis: 80%
            +main-action-btn(".new-action", $green)
        .view-icon
            padding-right: 10px
            flex-basis: 20%
            display: flex
            justify-content: flex-end
            i
                cursor: pointer
                margin-left: 5px
                padding: 5px
                border: 1px solid #d8d8d8
                border-radius: 2px
                color: $black
                transition: 0.3s
            i:hover
                background-color: $black
                color: #fff
//* Modal Content */
.modal-content
    background-color: #fefefe
    margin: auto
    border: 1px solid #888
    width: 30%
    display: flex
    flex-direction: column
    position: relative
    @media screen and (max-width: $break-small) 
        width: 80%
    h4
        text-align: center
        margin: 10px 0
    form
        display: flex
        flex-direction: column
        input[type="file"]
            padding: 10px
        .upload-file::-webkit-file-upload-button
            visibility: hidden
        .upload-file:before
            content: 'Browse'
            border: 1px solid #000
            border-radius: 2px
            padding: 5px 8px
            outline: none
            white-space: nowrap
            cursor: pointer
        .upload-action-btn
            padding: 10px 0
            border-top: 1px solid #d8d8d8
            button
                +generic-button
                margin-left: 10px
            +action-button(".upload-action", $blue)
            +action-button(".cancel-action", $red)