html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.b1{
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(wall1.jpg) no-repeat 50% 50%;
    top: 0;
    display: table;
    background-size: cover;
}
.b1 .in1{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content{
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.content h1{
    font-family: sans-serif;
    color: #f9f3f4;
    font-size: 500%;
    text-shadow: 0 0 300px #000;
}
.content .btn{
    border-radius: 9px;
    color: #f9f3f4;
    text-decoration: none;
    font-family: sans-serif;
    border: 3px solid;
    padding: 7px 13px;
    font-weight: bold;
}
.content .btn:hover{
    color: #2196f3;
}
p{
    font-size: 168%;
    line-height: 200%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}