body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif;
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size:200px
}
.header-lux {
    padding:128px 16px;
    background: url(img/wall1.jpg) no-repeat 50% 50%;
}
.bg-dracula{
    background-color: #2d3436;
}
.lux-menu a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.lux-hover-blue{
    color: #fff;
}
.lux-hover-blue:hover{
    color: #2980b9;
}
.lux-wall-header{
    color: #fff;
    text-shadow: 2px 2px 0 #000;
}
.lux-home-img img{
    padding: 20px;
    width: 100%;
    height: 430px;
}
.service-icon i a{
    text-decoration: none;
}
.lux-phone-size{
    display: none;
}
.section-title{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.border{
    background: #fff;
    width: 160px;
    height: 2px;
    margin: 20px auto;
}
.lux-product-title{
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.lux-product-border{
    background: #000;
    width: 180px;
    height: 2px;
    margin: 20px auto;
}
.gallerys {
  padding: 10px;
  overflow: hidden;
  text-align: center;  
}

.img {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    height: 220px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.img img {
    width: 100%;
    height: 220px;
    transition: 0.4s;
}

.img img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 480px){
    .lux-screen-size{
        display: none;
    }
    .lux-phone-size{
        display: block;
    }
    .image{
        margin: 10px 0;
    }
}
/* product section */
.lux-gallerys {
  padding: 10px;
  overflow: hidden;
  text-align: center;  
}
.image {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    height: 220px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
}
.image img {
    width: 100%;
    height: 220px;
    transition: 0.4s;
} 
.image img:hover{
    transform: scale(1.2);
}
/* about section */
.lux-content{
    padding: 40px 80px;
}
.lux-content img{
    width: 60%;
    max-width: 400px;
    margin: 20px 0;
}
.lux-content p{
    text-align: justify;
    font-size: 120%;
    text-indent: 1.5em;
}
.lux-about-img{
    width: 60%;
    max-width: 400px;
    margin: 20px 0;
}