* {
    box-sizing: border-box;
}
html body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.navbar{
    height: 60px;
    border-bottom: 1px solid #000;
}
.content{
    flex-grow: 1;
}
footer{
    height: 60px;
    border-top: 1px solid #000;
}