@import todo-theme
.space
    flex-basis: 80%
    min-height: 100vh
    display: flex
    flex-direction: column
    background-color: $bg-white
    .space-menu
        background-color: #fff
        flex-basis: 6%
        border-bottom: 1px solid #d8d8d8
        display: none
        align-items: center
        @media screen and (min-width: $break-small) 
            display: flex
        .action-btn
            flex-basis: 80%
            +main-action-btn(".new-action", $green)
        .view-icon
            padding-right: 10px
            flex-basis: 20%
            display: flex
            justify-content: flex-end
            i
                cursor: pointer
                margin-left: 5px
                padding: 5px
                border: 1px solid #d8d8d8
                border-radius: 2px
                color: $black
                transition: 0.3s
            i:hover
                background-color: $black
                color: #fff
    .space-card 
        display: flex
        flex-direction: row
        flex-wrap: wrap
        overflow-y: auto
        .card-rect
            background-color: #fff
            box-shadow: 0 1px 2px #b8b8b8
            width: 32%
            height: 200px
            margin: 5px auto
            border: 1px solid #d8d8d8
            border-radius: 2px
            display: flex
            flex-direction: column
            position: relative
            p
                color: $black
                overflow: hidden
                margin: 0
                text-indent: 20px
                font-weight: bold
                text-overflow: ellipsis
                flex-shrink: 0
                white-space: nowrap
            span
                overflow: hidden
                color: $gray
                padding: 20px
                flex-basis: 70%
                text-overflow: ellipsis
                border-bottom: 1px solid #d8d8d8
            .card-action
                display: flex
                margin: 10px 10px 10px 0
                justify-content: flex-end
                flex-wrap: wrap
                button
                    +generic-button
                +action-button(".complete-action", $blue)
                +action-button(".active-action", $purple)
                +action-button(".view-action", $green)
                +action-button(".edit-action", $orange)
                +action-button(".del-action", $red)
        .card-active
            border-top: 4px solid $dragon
        .card-complete
            border-top: 4px solid $concrete
