* {
  font-family: "Prompt", sans-serif; }

h1, h2, h3 {
  margin: 0; }

nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 3px #b8b8b8;
  background-color: #fff; }
  nav h3 {
    color: #2d3436;
    flex-basis: 10%;
    margin: 0 10px; }
  nav .hamburger {
    flex-basis: 60%; }
    nav .hamburger i {
      border: 1px solid #8d8d8d;
      border-radius: 3px;
      padding: 5px; }
  nav .search-bar {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    flex-basis: 30%; }
    nav .search-bar input {
      border: 1px solid #d8d8d8;
      text-indent: 5px;
      color: #2d3436;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    nav .search-bar button {
      cursor: pointer;
      border: none;
      border-right: 1px solid #d8d8d8;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #f39c12;
      color: #fff; }
  @media screen and (max-width: 520px) {
    nav {
      display: block;
      height: 80px; }
      nav h3 {
        border-bottom: 1px solid #d8d8d8; }
      nav .hamburger {
        position: absolute;
        top: 5px;
        right: 5px; }
      nav .search-bar {
        justify-content: center;
        padding-top: 10px;
        text-align: center; } }
  @media screen and (min-width: 520px) {
    nav .hamburger {
      visibility: hidden;
      flex-basis: 40%; }
    nav .search-bar {
      flex-basis: 50%; } }
  @media screen and (min-width: 768px) {
    nav .hamburger {
      flex-basis: 50%; }
    nav .search-bar {
      flex-basis: 40%; } }
  @media screen and (min-width: 1200px) {
    nav .hamburger {
      flex-basis: 60%; }
    nav .search-bar {
      flex-basis: 30%; } }

.main-space {
  position: relative;
  top: 80px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: -1; }
  @media screen and (min-width: 520px) {
    .main-space {
      flex-direction: row;
      position: fixed;
      top: 40px; } }
  .main-space .main-menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #d8d8d8;
    flex-basis: 20%; }
    @media screen and (max-width: 520px) {
      .main-space .main-menu {
        display: none; } }
    .main-space .main-menu .username {
      font-size: 18px;
      text-align: center;
      padding: 20px 0;
      margin: 10px auto;
      width: 70%;
      color: #e84393;
      border-bottom: 4px solid #e84393; }
    .main-space .main-menu button {
      border: none;
      font-size: 16px;
      text-align: center;
      background-color: #fff;
      color: #2d3436;
      height: 40px;
      padding-left: 10px;
      transition: 0.3s;
      cursor: pointer; }
    .main-space .main-menu .logout-btn {
      text-align: center;
      padding: 0;
      border-radius: 4px;
      width: 80%;
      border: 1px solid #e84393;
      justify-content: center;
      color: #e84393;
      margin: 40px auto; }
    .main-space .main-menu button:hover {
      color: #e84393;
      border-left: 5px solid #e84393;
      border-right: 5px solid #e84393; }
  .main-space .space {
    flex-basis: 80%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #f5f6fa; }
    .main-space .space .space-menu {
      background-color: #ecf0f1;
      flex-basis: 6%;
      border-bottom: 1px solid #d8d8d8;
      display: none;
      align-items: center; }
      @media screen and (min-width: 520px) {
        .main-space .space .space-menu {
          display: flex; } }
      .main-space .space .space-menu .action-btn {
        flex-basis: 80%; }
        .main-space .space .space-menu .action-btn button {
          border: 1px solid #00b894;
          cursor: pointer;
          color: #00b894;
          background-color: #fff;
          border-radius: 4px;
          margin-left: 10px;
          transition: 0.3s; }
        .main-space .space .space-menu .action-btn button:hover {
          color: #fff;
          background-color: #00b894; }
      .main-space .space .space-menu .view-icon {
        padding-right: 10px;
        flex-basis: 20%;
        display: flex;
        justify-content: flex-end; }
        .main-space .space .space-menu .view-icon i {
          cursor: pointer;
          margin-left: 5px;
          padding: 5px;
          border: 1px solid #d8d8d8;
          border-radius: 2px;
          color: #2d3436;
          transition: 0.3s; }
        .main-space .space .space-menu .view-icon i:hover {
          background-color: #2d3436;
          color: #fff; }
    .main-space .space .space-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: auto; }
      .main-space .space .space-card .card {
        background-color: #fff;
        box-shadow: 0 1px 2px #b8b8b8;
        width: 80%;
        margin-top: 5px;
        border: 1px solid #d8d8d8;
        border-radius: 2px;
        padding-left: 5px;
        display: flex;
        flex-direction: column; }
        .main-space .space .space-card .card p {
          color: #2d3436;
          overflow: hidden;
          margin: 0;
          text-indent: 10px;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .main-space .space .space-card .card .card-action {
          display: flex;
          margin: 10px 10px 10px 0;
          justify-content: flex-end; }
          .main-space .space .space-card .card .card-action button {
            border-radius: 2px;
            margin-left: 4px;
            cursor: pointer;
            background-color: #fff;
            transition: 0.3s; }
          .main-space .space .space-card .card .card-action .complete-action {
            border: 1px solid #0984e3;
            color: #0984e3; }
          .main-space .space .space-card .card .card-action .complete-action:hover {
            background-color: #0984e3;
            color: #fff; }
          .main-space .space .space-card .card .card-action .active-action {
            border: 1px solid #0984e3;
            color: #0984e3; }
          .main-space .space .space-card .card .card-action .active-action:hover {
            background-color: #0984e3;
            color: #fff; }
          .main-space .space .space-card .card .card-action .view-action {
            border: 1px solid #00b894;
            color: #00b894; }
          .main-space .space .space-card .card .card-action .view-action:hover {
            background-color: #00b894;
            color: #fff; }
          .main-space .space .space-card .card .card-action .edit-action {
            border: 1px solid #f39c12;
            color: #f39c12; }
          .main-space .space .space-card .card .card-action .edit-action:hover {
            background-color: #f39c12;
            color: #fff; }
          .main-space .space .space-card .card .card-action .del-action {
            border: 1px solid #e74c3c;
            color: #e74c3c; }
          .main-space .space .space-card .card .card-action .del-action:hover {
            background-color: #e74c3c;
            color: #fff; }
  .main-space .toggle-menu {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 0;
    background-color: #ecf0f1;
    transition: height 0.3s ease; }
    @media screen and (min-width: 520px) {
      .main-space .toggle-menu {
        display: none; } }
    .main-space .toggle-menu .username {
      text-align: center;
      margin: 0 auto;
      width: 70%;
      color: #e84393; }
    .main-space .toggle-menu button {
      border: none;
      margin: 1px 0;
      color: #fff;
      background: #0984e3; }

.float-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999; }
  @media screen and (min-width: 520px) {
    .float-btn {
      display: none; } }
  .float-btn .new-float-btn {
    margin-top: 22px; }

/*# sourceMappingURL=todo-theme.css.map */
