*{
    font-family: 'Prompt', sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
}
nav .nav-container{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 60px;
}

nav .nav-container .nav-logo{
    margin: 0;
    display: inline;
    font-size: 32px;
    color: #333;
}

nav .nav-container a{
    text-decoration: none;
    color: #6f6f6f;
    margin-right: 10px;
    float: left;
}
nav .nav-container a:not(:first-of-type){
    line-height: 65px;
}
nav .nav-container a.nav-link-rigth{
    float: right;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.auth-container{
    width: 400px;
    margin-top: 60px;
}
.section::before{ /* this to crate psudo element to fix bug padding lost by clear float */
    display: block;
    content: '';
    clear: both;
}
.section .section-header .section-heading{
    margin: 0;
    font-size: 24px;
    display: inline-block; /* similar to line but this can set size of element. */
}

.section .section-header{
    margin-top: 60px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 12px;
}

.section .section-header a{
    display: inline-block;
    width: 50%;
    height: 100%;
    float: right;
    line-height: 24px; /* the same as value of h3.section-heading*/
    text-align: right;
    color: #6f6f6f;
    text-decoration: none;
}
.section-cards{
    margin-top: 28px;
}
.section-cards .section-card-left{
    width: 33.33%;
    height: 500px;
    float: left;
    padding-right: 10px;
}
.section-cards .section-card-right{
    width: 33.33%;
    height: 250px;
    float: right;
    padding-right: 10px;
}
.cards{
    width: 100%;
    height: 100%;
    border: 1px solid #d8d8d8;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 3px 6px #b8b8b8;
}
.card-bottom-row{
    padding-top: 10px;
}
.cards .card-img{
    width: 100%;
    background-position: center;
    background-size: cover;
}
.card-img-280{
    height: 280px;
}
.card-img-100{
    height: 100px;
}
.cards .card-content{
    padding: 12px;
}
.cards .card-content .card-title{
    color: #333;
    margin: 0;
    font-size: 20px;
}
.cards .card-content .card-title > a{
    color: inherit;
    text-decoration: none;
}
.cards .card-content .card-example{
    color: #a8a8a8;
    font-weight: 300;
}
.cards .card-content .card-author{
    position: absolute;
    bottom: 0;
    color: #333;
}
.auth-header{
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}
.auth-input{
    display: block;
    width: 100%;
    height: 42px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 24px;
    font-family: inherit;
}
.auth-btn{
    display: block;
    width: 100%;
    height: 36px;
    background-color: #17e880;
    color: #fff;
    border: 1px solid #d8d8d8;
}
.auth-link{
    display: block;
    text-align: center;
    margin: 4px 0;
    text-decoration: none;
    color: #6f6f6f;
}
.article-container{
    max-width: 740px;
}
.article-container .article-header{
    margin-top: 60px;
    margin-bottom: 24px;
}
.article-container .article-heading{
    margin: 0;
    font-size: 24px;
    color: #333;
}
.article-container .article-author{
    color: #6f6f6f;
    font-weight: 300;
}
.article-content img{
    display: block;
    margin: 0 auto;
    width: 500px;
}
.article-content p{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: #333;
}