body{
    margin: 0;
    padding: 0;
    font-family: "montserrat";
}
.team-section{
    background: #f1f1f1;
    text-align: center;
}
.inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    color: #333;
    overflow: hidden;
}
.team-section h1{
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 10px;
}
.pe{
    float: left;
    width: calc(100% / 3);
    overflow: hidden;
    padding: 40px 0;
}
.pe:hover{
    background: #ddd;
}
.pe img{
    width: 120px;
    height: 120px;
}
.p-name{
    text-transform: uppercase;
    margin: 16px 0;
}
.p-des{
    font-style: italic;
    color: #3498db;
}
.p-sm a{
    margin: 0 4px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.4s;
}
.p-sm a:hover{
    transform: scale(1.3);
}
.p-sm a i{
    color: #333;
    line-height: 30px;
}
@media screen and (max-width: 600px){
    .pe{
        width: 100%;
    }
}