body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
}
.flex-container h2{
    
}
.menu-item{
    border: 1px solid #ffffff;
    justify-content: flex-end;
}