body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pricing-table{
    max-width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.col{
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}
.table{
    background: #fff;
    padding: 30px 40px;
    font-family: "montserrat", sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}
.table h2{
    text-transform: uppercase;
}
.table ul{
    margin: 0;
    padding: 0;
}
.table ul li{
    padding: 10px 0;
    list-style: none;
}
.price{
    font-size: 40px;
    margin-bottom: 20px;
}
.price span{
    display: block;
    font-size: 14px;
}
.table a{
    text-decoration: none;
    color: #7f8c8d;
    border: 2px solid #7f8c8d;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
}
.table a:hover{
    background: #7f8c8d;
    color: white;
}
.pop{
    background: #7f8c8d;
    color: #fff;
    transform: rotate(45deg);
    padding: 10px 40px;
    position: absolute;
    top: 16px;
    right: -34px;
}

@media screen and (max-width: 980px){
    .col{
        flex: 50%;
    }
}
@media screen and (max-width: 700px){
    .col{
        flex: 100%;
    }
}