body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.posts {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.post {
    width: 47%;
    background: #f1f1f1;
    overflow: hidden;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px black;
    float: left;
}

.post img {
    width: 100%;
    height: 280px;
}

.post h2 {
    margin: 0;
    padding: 0 10px;
}

.post p {
    margin: 0;
    margin-bottom: 10px;
    text-align: justify;
    padding: 0 10px;
}

@media (max-width: 680px) {
    .post {
        width: 96%;
        margin: 2%;
    }
}