/* Define standard variables and values for website */
/* Use the variables */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh; }

h1, h2, h3 {
  margin: 0; }

nav {
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #fd79a8;
  padding: 0 30px;
  background-color: #ffffff; }
  nav h3 {
    font-size: 36px;
    color: #e84393;
    flex-basis: 70%; }
  nav .nav-links {
    flex-basis: 30%;
    align-items: center;
    display: flex;
    font-size: 18px; }
    nav .nav-links a {
      margin-left: 20px;
      color: #e84393;
      text-decoration: none; }

.container {
  padding: 100px 100px;
  display: flex; }
  .container .img img {
    width: 720px;
    height: 480px;
    margin: 10px; }
  .container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid #b2bec3; }
    .container .content p {
      font-size: 18px;
      color: #b2bec3;
      width: 60%;
      height: auto; }

footer {
  bottom: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: 0 auto;
  background-color: #e84393; }
  footer p {
    align-items: center;
    color: #ffffff; }

/*# sourceMappingURL=mystyle.css.map */
