/* Define standard variables and values for website */
$bgcolor: lightblue
$textcolor: darkblue
$fontsize: 18px
$logosize: 36px

$pinuscolor: #e84393
$picocolor: #fd79a8
$breezecolor: #b2bec3
$rivercolor: #b2bec3

$minheight: 100vh
$nvsize: 50px
/* Use the variables */
body 
	box-sizing: border-box
	margin: 0
	padding: 0
	min-height: $minheight

h1, h2, h3
	margin: 0

nav
	position: fixed
	display: flex
	height: $nvsize
	width: 100%
	border-bottom: 1px solid $picocolor
	padding: 0 30px
	background-color: #ffffff

	h3
		font-size: $logosize
		color: $pinuscolor
		flex-basis: 70%

	.nav-links
		flex-basis: 30%
		align-items: center
		display: flex
		font-size: $fontsize
		a
			margin-left: 20px
			color: $pinuscolor
			text-decoration: none

.container
	padding: ($nvsize + 50px) 100px
	display: flex

	.img img
		width: 720px
		height: 480px
		margin: 10px

	.content
		display: flex
		justify-content: center
		align-items: center
		margin: 10px	
		border: 1px solid $rivercolor
		p
			font-size: $fontsize
			color: $rivercolor
			width: 60%
			height: auto

footer
	bottom: 0
	height: $nvsize
	width: 100%
	position: fixed
	display: flex
	justify-content: space-around
	padding: 0 auto
	background-color: $pinuscolor
	p
		align-items: center
		color: #ffffff