<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list lock</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
            <a href="#"><h2>SMART LOCKING</h2></a>
        </div>
    </nav>

    <div class="object-container">
        <div class="lock-container">
            <div class="lock-logo">
                <img src="keypad.png" alt="">
                <b>New Passcode</b>
            </div>
            <div class="passcode-form">
                <form action="#" method="post">
                    <div>
                    <label for="fname">Lock ID:</label>
                    <input class="readonly-field" type="text" id="lockId" name="lockId" value="<%= lockId %>" readonly><br>
                    </div>
                    
                    <div>
                    <label for="fname">Name:</label>
                    <input type="text" id="pname" name="passcodeName"><br>
                    </div>
                    
                    <div>
                    <label for="lname">Passcode:</label>
                    <input type="text" id="pcode" name="passcode"><br>
                    </div>

                    <div>
                    <label for="starttime">Start time:</label>
                    <input type="date" id="passcodeStarttime" name="startDate"><br>
                    </div>
                    
                    <div>
                    <label for="endtime">End time:</label>
                    <input type="date" id="passcodeEndtime" name="endDate"><br><br>
                    </div>

                    <input class="create-button" type="submit" value="Create">
                  </form>
            </div>
        </div>
    </div>
</body>
</html>