.flex-container {
    display: flex;
    background-color: pink;
    margin-top: 10px;
    flex-direction: row; /* default */
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-column-rev{
    flex-direction: column-reverse
}
.flex-direction-row-rev{
    flex-direction: row-reverse
}
.flex-direction-inherit{
    flex-direction: inherit
}
.flex-container div{
    background-color: aliceblue;
    width: 100px;
    margin: 20px;
    padding: 20px;
}

.flex-container-yellow{
    display: flex;
    background-color: yellow;
    margin-top: 10px;
    flex-direction: row;
}
.flex-container-yellow div{
    background-color: aliceblue;
    width: 100px;
    margin: 20px;
    padding: 20px;
}
.flex-justify-content-flex-start{
    justify-content: flex-start; /* default */
}
.flex-justify-content-flex-end{
    justify-content: flex-end;
}
.flex-justify-content-space-around{
    justify-content: space-around;
}
.flex-justify-content-space-between{
    justify-content: space-between;
}
.flex-justify-content-evenly{
    justify-content: space-evenly;
}

.flex-container-blue{
    display: flex;
    background-color: blue;
    margin-top: 10px;
    height: 500px;
}
.flex-container-blue div{
    background-color: aliceblue;
    width: 100px;
    margin: 20px;
    padding: 20px;
}
.flex-align-items-stretch{
    align-items: stretch; /* default */
}
.flex-align-items-flex-start{
    align-items: flex-start;
}
.flex-align-items-flex-end{
    align-items: flex-end;
}
.flex-align-items-center{
    align-items: center;
}
.flex-align-items-baseline{
    align-items: baseline;
}
.flex-align-items-center-justify-content-center{
    align-items: center;
    justify-content: center;
}
.flex-container-green{
    display: flex;
    background-color: green;
    margin-top: 10px;
}
.flex-container-green div{
    background-color: aliceblue;
    width: 100px;
    margin: 20px;
    padding: 20px;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.flex-wrap-reverse{
    flex-wrap: wrap-reverse;
}

.flex-container-purple{
    display: flex;
    background-color: purple;
    margin-top: 10px;
    height: 500px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.flex-container-purple div{
    background-color: aliceblue;
    width: 100px;
    margin: 20px;
    padding: 20px;
}
.align-content-flex-start{
    align-content: flex-start;
}
.align-content-flex-end{
    align-content: flex-end;
}
.align-content-space-around{
    align-content: space-around;
}
.align-content-space-between{
    align-content: space-between;
}
.align-content-center{
    align-content: center;
}

.flex-container-orange{
    display: flex;
    background-color: orange;
    margin-top: 10px;
}
.flex-container-orange div{
    background-color: aliceblue;
    width: 100px;
    margin: 20px;
    padding: 20px;
}
.flex-shrink{
    flex-shrink: 0;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.flex-basis-20{
    flex-basis: 20%;
}