* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.gallery-section {
    width: 100%;
    padding: 60px 0;
    background: #f1f1f1;
}
.inner-section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #333;
}
.border{
    width: 180px;
    height: 4px;
    background: #333;
    margin: 60px auto;
}
.gallery-section .gallery{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.gallery-section .image{
    flex: 25%;
    overflow: hidden;
    cursor: pointer;
}
.gallery-section .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
}
.gallery-section .image:hover img{
    transform: scale(1.4) rotate(15deg)
}

@media screen and (max-width:960px){
    .gallery-section .image{
        flex: 33.33%;
    }
}

@media screen and (max-width:768px){
    .gallery-section .image{
        flex: 50;
    }
}

@media screen and (max-width:480px){
    .gallery-section .image{
        flex: 100%;
    }
}